@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
	font-family: "Cony";
	src: url("../fonts/Cony.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cony-Bold";
	src: url("../fonts/Cony-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

p {
	text-indent: 30px;
	font-family: "Cony";
	font-size: 20px;
	line-height: 2;
}
.lowercase {
	text-transform: lowercase;
	text-decoration: underline;
}
h1 {
	font-size: 40px;
	text-transform: uppercase;
	opacity: 0.5;
	background-color: #da9ee9;
}
h1,
h2,
h3 {
	text-shadow: 5px 5px 20px #000;
	box-shadow: inset 2px 3px 10px 0px #000;
	text-decoration: underline;
	text-align: center;
	font-family: "Roboto";
	margin: 60px 0 30px 0;
}

h3:hover {
	font-size: 30px;
	background-color: #eee;
}
.paragraphs {
	max-width: 95%;
	outline: 5px dotted rgb(225, 250, 3);
	margin: 0 auto;
}
.babules:hover {
	text-transform: uppercase;
	text-decoration: underline;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 40px;
	color: #482367;
}
.first_p {
	visibility: hidden;
}
.second_p {
	opacity: 0;
}

ol {
	font-weight: 700;
	color: aqua;
}

ol > li:hover {
	color: yellow;
}
nav {
	background-image: url("../img/rocks.jpg");
}
ul {
	max-height: 50px;
	overflow: auto;
}
ul > li {
	color: #753753;
	font-style: italic;
}
li::before {
	content: "";
	background: url("../img/list.png") 0 5px / 10px no-repeat;
	padding: 0 0 0 15px;
}
li > a {
	color: azure;
}
li > a:hover {
	background-color: yellow;
}
li > a:active {
	color: black;
}
li > a:visited {
	color: purple;
}
h1 {
	border: 5px dotted rgb(13, 197, 243);
	color: blue;
}
h2 {
	border-top: 3px solid rgb(191, 9, 247);
	border-right: 20px solid rgb(12, 179, 142);
	border-bottom: 5px solid rgb(252, 7, 199);
	border-left: 10px solid rgb(156, 236, 7);
	border-radius: 15px 40px 33% 14px;

	padding: 0 0 0 300px;
	letter-spacing: 10px;
	color: chocolate;
}
h3 {
	border: 5px dashed rgba(177, 238, 9, 0.904);
	padding: 0 500px 0 0;
	word-spacing: 10px;
	color: teal;
}
.list {
	color: yellowgreen;
}
.list_minus {
	text-decoration: line-through;
}
.list_minus > li:last-of-type {
	text-decoration: underline;
}
span {
	color: red;
}
#job {
	color: violet;
}
#gifted,
#marriage,
#family,
#property {
	text-transform: capitalize;
	color: purple;
}
.text > p {
	display: block;
	padding: 100px 0 0 100px;
	font-family: "Cony-Bold";
	color: red;
}
.link {
	margin: 0 0 30px 0;
	text-align: right;
}
.image {
	background: #31be83 url("../img/hexagons.svg") 0 0 / auto fixed;
	min-height: 100%;
}

img {
	display: block;
	border-radius: 250px;
	box-shadow: 10px 10px 25px 25px rgba(211, 233, 10, 0.562), 30px 50px 10px 50px rgba(0, 0, 0, 0.116);
	max-width: 1000px;
	margin: 0 auto;
}
.housing {
	background: url("../img/space.jpg") 0 0 / cover no-repeat;
}

.gifted_people {
	background: purple url("../img/picture.jpg") 100% 0 / auto no-repeat;
}
.marriage_p p:nth-child(2) {
	background-color: #214789;
	color: #632147;
}
.marriage_p:hover p:nth-child(odd) {
	background-color: #214789;
	color: #632147;
}
.union {
	background: rgb(34, 193, 195);
	background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
